.site-footer {
  background-color: #262626;
  padding: 15px 0px;

  .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  }

  p {
    color: lighten($black, 50%);
  }

  .fa-layers {
    color: lighten($black, 50%);
    transition: ease-in-out 0.3s;
    border-radius: 50%;
  }

  .fa-layers:hover {
    color: whitesmoke !important;
    background: darken($primary, 7.5%);
  }
}
