/**
 * Mitchell Quarrie - Developer Portfolio
 * @repo https://github.com/mitchellq/mitchellq.github.io
 */

/* Boilerplate Styles
 ------------------------------ */
@import 'bootstrap';
// @import './vendor/jquery-ui';
// @import './vendor/owl.carousel.min.scss';
// @import './vendor/owl.theme.default.min.scss';
// @import './vendor/jquery.fancybox.min.scss';
@import './vendor/bootstrap-datepicker.scss';
@import './vendor/aos';

@import './typography';

/* Bootstrap primary colour override
 ------------------------------ */
$primary: #0056b3;

/* Theme Styles
 ------------------------------ */
@import "site-base";
@import "site-navbar";
@import "site-blocks";


/* Component Styles
 ------------------------------ */
label:required::after{
    content: ' *';
    color: red;
    font-weight: bolder
}