/**
 * Mitchell Quarrie - Developer Portfolio
 * @repo https://github.com/mitchellq/mitchellq.github.io
 */

/* Boilerplate Styles
 ------------------------------ */
@import 'bootstrap';
@import './vendor/aos';
@import './typography';

/* Bootstrap primary colour override
 ------------------------------ */
$primary: #0056b3;

/* Theme Styles
 ------------------------------ */
@import "site-base";
@import "site-navbar";
@import "site-blocks";
@import "Main";
@import "Modal";
@import "Project";
@import "Nav";
@import "Footer";

/* Component Styles
 ------------------------------ */
label:required::after{
    content: ' *';
    color: red;
    font-weight: bolder
}